.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
}

.Circles {
    background-image: radial-gradient(circle at center center, #ffc107, #ffe9a7), repeating-radial-gradient(circle at center center, #ffc107, #ffc107, 20px, transparent 40px, transparent 20px);
    background-blend-mode: multiply;
}

p {
    color: aliceblue;
    text-shadow: 1;
}
